.loginsignup{
    display: flex;
    justify-content: center;
    width:100vw;
    height:100vh;
    /* background:#fce3fe; */
    background-color: #e6d8cb;
    padding-top: 200px;
    /* position:fixed; */
}
.loginsignup-container{
    /* width:500px;
    height: 600px; */
    border-radius: 10px;
    width:100%;
    max-width: 350px;
    height:85%;
    background: white;
    margin:auto;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
}
.loginsignup-container h1{
    margin:20px 0px;
    font-size: 30px;
}
.loginsignup-fields{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}
.loginsignup-fields input{
    height: 70px;
    width: 90%;
    padding-left: 20px;
    border:1px solid #c9c9c9;
    outline:none;
    color:#5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    /* width: 360px; */
    width:95%;
    height: 90px;
    color:white;
    background: #ff4141;
    margin-top: 30px;
    border:none;
    font-size:24px;
    font-weight:500;
    cursor:pointer;
}
.loginsignup-login{
    margin-top: 20px;
    color:#5c5c5c;
    font-size: 15px;
    font-weight:500;
}
.loginsignup-login span{
    color:#ff4141;
    font-weight: 600;
    cursor:pointer;
}
.loginsignup-agree{
    display:flex;
    align-items: center;
    margin-top: 25px;
    gap:20px;
    color:#5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .loginsignup{
    margin-top:350px;
    }
}
@media (min-width: 392px) and (max-width: 800px){
    .loginsignup{
        margin-top:350px;
        }
}